<%- include('partials/header') %>

<div class="background-image">
  <div class="overlay container">
    <h1 class="text-center mb-4 title">Explorer's Station</h1>
    <hr />
    <!-- Buttons -->
    <div class="text-center mb-4">
      <a href="/cities" class="btn btn-primary" id="view-layovers-btn"
        >View All Layovers</a
      >
      <% if (user.isAdmin) { %>
      <a href="/cities/add" class="btn btn-secondary" id="add-city-btn"
        >Add New City</a
      >
      <% } %>
    </div>

    <!-- User Profile Info -->
    <div class="card mb-4 bg-transparent text-white">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <p class="card-text text-center fs-4">
              Your Name: <%= user.firstName %> <%= user.lastName %>
            </p>
          </div>
          <div class="col-md-4">
            <p class="card-text text-center fs-4">
              Username: <%= user.username %>
            </p>
          </div>
          <div class="col-md-4">
            <p class="card-text text-center fs-4">Email: <%= user.email %></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Four Sections -->
    <div class="row">
      <%- include('partials/dashboard-section', { title: 'Recent Activity',
      items: user.recentPosts }) %> <%- include('partials/dashboard-section', {
      title: 'Favorite Cities', items: user.favoriteCities }) %> <%-
      include('partials/dashboard-section', { title: 'Recommended Cities',
      items: recommendedCities }) %> <%- include('partials/dashboard-section', {
      title: 'Notifications', items: user.notifications }) %>
    </div>
  </div>
</div>
